#firstImage{
    background-image: url("./epl-stadiums.jpg");

                
                
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
        
}
#text{
    

    
    font-size: 40px;
    color: whitesmoke;
    
    font-weight: bold;
}